		    <div class="row">
					<div class="col-sm-6 col-md-4 col-md-offset-4">
			    <h1 class="text-center login-title">Connecter au system:</h1>

			    <div class="account-wall">

			        <img class="profile-img" src="assets/img/photo-login.png" alt="">

					        <form class="form-signin">
					        	<input type="text" class="form-control" name="username" placeholder="Username" ng-model="form.username" required autofocus>
						        <input type="password" class="form-control" name="password" placeholder="Password" ng-model="form.password" required>

						        <button ng-click="logIn()" class="btn btn-lg btn-default btn-block">
						        <i class="fa fa-sign-in"></i> se connecter</button>

						        <a href="#" class="pull-right need-help">Besoin d'aide? </a><span class="clearfix"></span>
					       </form>

			    	</div>
					</div>
		    </div>
