<div ng-class="{'hidee': printOneHistory}">

<center>
  <div class="onlyPrint">
  <h3>Historique des factures de <b>{{search.dateDebutPayment}}</b> à <b>{{search.dateFinPayment}}</b></h3>  
  <h5>le {{now}}</h5>
  </div> 
</center>

<div class="row hidee">

  <div class="col-md-4">
      <div class="form-group" ng-class="{'has-error': datepickerForm.date2.$invalid}">
        <label class="control-label pull-left"><i class="fa fa-calendar-o"></i> Date Debut: </label>
        <input type="text" class="form-control" ng-model="search.dateDebutPayment" data-date-format="yyyy-MM-dd" data-date-type="date" data-autoclose="1" name="date2" cs-date-to-iso bs-datepicker>
      </div> 
  </div>


  <div class="col-md-4">
    <div class="form-group" ng-class="{'has-error': datepickerForm.date2.$invalid}">
        <label class="control-label pull-left"><i class="fa fa-calendar-o"></i> Date Fin: </label>
        <input  type="text" class="form-control" ng-model="search.dateFinPayment" data-date-format="yyyy-MM-dd" data-date-type="date" data-autoclose="1" name="date2" cs-date-to-iso bs-datepicker>
      </div>
  </div>

  

  <div class="col-md-4">
  
    <button type="button" ng-click="filterTable()" class="btn btn-success pull-right">Chercher</button>
  </div>

</div>

 <button type="button" ng-click="exportTableToCSV('members.csv')" class="btn btn-success pull-right">Export Excel</button>

  

<table ng-table="tableParams"  class="table table-bordered">

     <tr ng-repeat="facture in $data" ng-click="showDetail(facture);">



         <td title="'id'" class="ng-table-group" filter="{ 'id': 'text' }" sortable="'id'">
           {{facture.id}}
          </td>

          <td title="'Date'" class="ng-table-group" filter="{ 'datePayment': 'date' }" sortable="'datePayment'">
           {{facture.datePayment | date:"dd/MM/yyyy"}}
           </td>
          <!--
          <td title="'Code'" class="ng-table-group" filter="{ 'code': 'text' }" sortable="'code'">
           {{facture.code}}
          </td> -->

          <td title="'Prenom'" class="ng-table-group" filter="{ 'lastname': 'text' }" sortable="'lastname'">
           {{facture.lastname}}
          </td>


          <td title="'Nom'" class="ng-table-group" filter="{ 'firstname': 'text' }" sortable="'firstname'">
           {{facture.firstname}}
          </td>

         <td title="'Niveau'" class="ng-table-group" filter="{ '_levelId': 'select' }"filter-data="levels" sortable="'_levelId'">
           {{facture._levelId}}
          </td>
          
          <td title="'Classe'" class="ng-table-group" filter="{ 'class': 'select' }" filter-data="classes"sortable="'class'">
           {{facture.class}}
          </td>
        <!-- 
         <td title="'Trimestre'" class="ng-table-group" filter="{ 'trimestre': 'select' }" filter-data="classes"sortable="'class'">
           {{facture.product}}
          </td>
       
           <td title="'Scolarité'" class="ng-table-group" filter="{ 'class': 'select' }" filter-data="classes"sortable="'class'">
           {{facture.scolarite}}
          </td>

           <td title="'Cantine'" class="ng-table-group" filter="{ 'class': 'select' }" filter-data="classes"sortable="'class'">
           {{facture.cantine}}
          </td>
           
          <td title="'Panier'" class="ng-table-group" filter="{ 'class': 'select' }" filter-data="classes"sortable="'class'">
           {{facture.panier}}
          </td>
        

          <td title="'Garde'" class="ng-table-group" filter="{ 'class': 'select' }" filter-data="classes"sortable="'class'">
           {{facture.garde}}
          </td>

          <td title="'Autres'" class="ng-table-group" filter="{ 'class': 'select' }" filter-data="classes"sortable="'class'">
           {{facture.autres}}
          </td>
         -->
         <td title="'total ht'" class="ng-table-group" filter="{ 'totalht': 'text' }" sortable="'totalht'">
           {{facture.totalht}}
          </td>

          <td title="'TVA'" class="ng-table-group" filter="{ 'tax': 'text' }" sortable="'totalht'">
           {{facture.tax}}
          </td>


          <td title="'Timbre'" class="ng-table-group" filter="{ 'timbre': 'text' }" sortable="'timbre'">
           {{facture.timbre}}
          </td>
         
          <td title="'totale TTC'" class="ng-table-group" filter="{ 'rtotale': 'text' }" sortable="'rtotale'">
           {{facture.rtotale}}
          </td>

          <td title="'Mode Paiement'" class="ng-table-group" filter="{ 'rtotale': 'text' }" sortable="'rtotale'">
           {{facture.modePay}}
          </td>
       
          <td title="'Produit'" class="ng-table-group" filter="{ 'produit': 'text' }" sortable="'produit'">
           {{facture.produit}}
          </td>
         


          <td>
             <input type="button" value="facture"  class="btn btn-primary " ng-click="confirmStart2(facture)"  />  
  
         </td>
     </tr>



</table>

</div>