
<div>
<button ng-click="loadInsertedStudent()" type="button" class="btn btn-primary pull-right" data-animation="am-fade-and-scale" data-template="frontend/components/student/views/student.create.html" data-placement="center" bs-modal="modal">
    <i class="fa fa-user-plus"></i> Créer Eleve
</button><br><br> 


 <button type="button" ng-click="exportTableToCSV('members.csv')" class="btn btn-success pull-right">Export Excel</button>
</div>

<!--
  <script type="text/ng-template" id="select.html">
    <input type="text" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" maxlengh="3" angular-mask="000" placeholder="nnn" />
  </script>
-->
<br/><br/>
<table ng-table="tableParams"  class="table table-bordered table-hover">
     <tr ng-repeat="student in $data">

         <td title="'Niveau'" class="ng-table-group" filter="{ '_levelId': 'select' }" filter-data="getLevels" sortable="'_levelId'">
           {{student._levelId}}
          </td>
          
         <td title="'Classe'" class="ng-table-group" filter="{ 'class': 'select' }" filter-data="classes">
           {{student.class}}
          </td>

<td title="'Code'" class="ng-table-group" filter="{ 'code': 'text' }" sortable="'code'">
           {{student.code}}
          </td>


         <td title="'Nom'" class="ng-table-group" filter="{ 'firstname': 'text' }" sortable="'firstname'">
           {{student.firstname}}
          </td>
         <td title="'Prenom'" class="ng-table-group" filter="{ 'lastname': 'text' }" sortable="'lastname'">
           {{student.lastname}}
          </td>
     </tr>
</table>
