<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modifier prix : <b>{{toEditLevel._id}}</b></h4>
      </div>

  <div class="modal-body">

        <form role="form">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                #
                </th>


                <th>
                  Trimestre 0
                </th>


                <th>
                  Trimestre 1
                </th>
                <th>
                  Trimestre 2
                </th>
                <th>
                  Trimestre 3
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  Scolarité
                </th>

                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t0.s"/>
                </td>


                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t1.s"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t2.s"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t3.s"/>
                </td>
              </tr>
              <tr>
                <th>
                  Cantine
                </th>

                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t0.c"/>
                </td>


                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t1.c"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t2.c"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t3.c"/>
                </td>
              </tr>
              <tr>
                <th>
                  Panier
                </th>


                 <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t0.p"/>
                </td>


                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t1.p"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t2.p"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t3.p"/>
                </td>
              </tr>
              <tr>
                <th>
                  Garderie
                </th>

                 <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t0.g"/>
                </td>

                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t1.g"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t2.g"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t3.g"/>
                </td>
              </tr>
              <tr>
                <th>
                  Activité
                </th>

                 <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t0.a"/>
                </td>

                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t1.a"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t2.a"/>
                </td>
                <td>
                  <input type="number" class="form-control" ng-model="toEditLevel.price.t3.a"/>
                </td>
              </tr>
            </tbody>

          </table>
        </form>

</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="$hide()">
            <i class="fa fa-times"></i> Annuler
        </button>
        <button type="button" class="btn btn-primary" ng-click="$parent.updateLevel(toEditLevel);$hide();">
            <i class="fa fa-plus"></i> Modifier
        </button>
      </div>

    </div>

  </div>
</div>
